.navigation {
  background-color: var(--second-bg-color);
}

.page-logo {
  display: none;
}

.page-navigation {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 0;
  display: flex;

  overflow-x: auto;
}

.page-navigation::-webkit-scrollbar {
  display: none;
}

.nav-list {
  display: flex;
  padding: 0 12px;
  margin: auto;
}

.nav-item + .nav-item {
  margin-left: 12px;
}

.nav-link {
  text-transform: uppercase;
  white-space: nowrap;

  font-size: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 576px) {
  .page-logo {
    --size: 3rem;
    display: inline;
    font-size: var(--size);
    font-family: "Revalia";
    color: var(--accent-color);

    position: relative;
    bottom: calc(var(--size) / 4);
  }
  .page-navigation {
    padding: 32px 16px;
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    margin: 0;
  }
}
