:root {
  --accent-color: rgb(52, 84, 122);
  --accent-bg-color: rgba(52, 84, 122, 0.8);
  --second-bg-color: #eeeff1;
  --text-color: #727272;

  font-size: 14px;
  font-family: "Roboto", sans-serif;

  scroll-behavior: smooth;
}

.main-heading,
.sub-heading {
  font-weight: 500;
  line-height: 1;
}

.main-heading {
  font-size: 3rem;
}

.sub-heading {
  font-size: 2rem;
}

.article-content {
  line-height: 1.6;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}
.btn {
  display: block;
  border: 0;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: var(--accent-color);
  letter-spacing: 0.1em;
  padding: 25px 40px;
  color: white;
}

.align-text-center {
  text-align: center;
}

.jc-center {
  justify-content: center;
}

.full-size {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd-column {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 15px;
  }
  .btn {
    margin: 0;
  }
  .align-text-center {
    text-align: left;
  }
  .main-heading,
  .sub-heading {
    line-height: 1.4;
  }
}

.text-align-left {
  text-align: left;
}

@media screen and (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}
