.welcome-screen {
  background-color: var(--second-bg-color);
  padding: 80px 0;
}
.welcome-img-wrapper {
  max-width: 100%;
  width: 100%;
  margin-bottom: 30px;
}
.responsive-img-helper {
  position: relative;
  padding-top: 60%;

  width: inherit;
}
.welcome-img {
  width: inherit;
  height: 100%;

  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  object-fit: contain;
  object-position: center;
}
.welcome-text-margins {
  margin: 16px 0;
}
.welcome-article {
}

@media screen and (min-width: 992px) {
  .btn-welcome-margins {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .welcome-img-wrapper {
    max-width: 70%;
    margin: 0 auto;
  }
  .welcome-screen {
    padding: 160px 0;
  }
}
