.projects-screen {
  --line-height-value: 1.4em;
}

.project-container {
  display: flex;
  position: relative;
}

.project-img-wrapper,
.project-info {
  flex-basis: 100%;
  max-width: 100%;
}

.project-info {
  opacity: 0;

  position: absolute;
  z-index: 1;
  padding: 20px 10px;
  background-color: var(--accent-bg-color);
  text-align: center;

  transition: opacity 0.3s ease-in-out;
}

.project-info > * {
  color: white;
}

.project-img-wrapper {
  width: 100%;
  height: 100%;
}

.project-heading,
.project-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: var(--line-height-value);
}

.project-heading {
  margin-top: -50px;
  --line-count: 2;
  -webkit-line-clamp: var(--line-count);
  max-height: calc(var(--line-count) * var(--line-height-value));
}

.project-text {
  --line-count: 5;
  -webkit-line-clamp: var(--line-count);
  max-height: calc(var(--line-count) * var(--line-height-value));
  margin-bottom: 10px;
}

.project-img {
  display: block;
  width: inherit;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-link {
  position: absolute;
  bottom: 10px;

  padding: 16px 32px;
  background-color: white;
  color: black;

  pointer-events: none;
}

.project-container:hover > .project-info,
.project-container:focus > .project-info {
  opacity: 1;
}

.project-container:hover .project-link {
  pointer-events: auto;
}

.aspect-ratio-square {
  padding-top: 60%;
}

@media screen and (min-width: 576px) {
  .project-img-wrapper,
  .project-info {
    flex-basis: 50%;
    max-width: 50%;
    background-color: var(--accent-color);
  }

  .project-info {
    position: relative;
    opacity: 1;
  }

  .aspect-ratio-square {
    padding-top: 100%;
  }

  .project-container:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-link {
    pointer-events: auto;
  }
}

@media screen and (min-width: 1200px) {
  .project-container:nth-child(even) {
    flex-direction: row;
  }

  .project-container:nth-child(4n + 3),
  .project-container:nth-child(4n + 4) {
    flex-direction: row-reverse;
  }
}
